version: 4.8.2.{build}
clone_folder: c:\projects\nlogweb
configuration: Release
image: Visual Studio 2017
platform: Any CPU
assembly_info:
  patch: true
  file: '**\AssemblyInfo.cs'
  assembly_version: '4.0.0'
  assembly_file_version: '{version}' #NLog.Web
  assembly_informational_version: '{version}' #NLog.Web
nuget:
  project_feed: true
matrix:
  fast_finish: true
build:
  publish_nuget: true
  publish_nuget_symbols: true
  verbosity: quiet
environment:
  NUGET_DEPLOY_SECRET:
    secure: DtVDH1ZfIR8E2oDLeSPxfn0WFXw3MCv4WhLkkQQl9LfEHswb5sdxdCYodNKhrKik
  
skip_tags: true

build_script:
- ps: |
    $versionPrefix = "4.8.2"
    $versionSuffix = ""
    $versionBuild = $versionPrefix + "." + ${env:APPVEYOR_BUILD_NUMBER}
    $versionNuget = $versionPrefix
    if ($env:APPVEYOR_PULL_REQUEST_NUMBER)
    {
        $versionPrefix = $versionBuild
        $versionSuffix = "PR" + $env:APPVEYOR_PULL_REQUEST_NUMBER
    }
    if ($versionSuffix)
    {
        $versionNuget = $versionPrefix + "-" + $versionSuffix
    }
    $build_aspnet = "build_aspnet.bat", "-nuget_version=$versionNuget"
    & cmd /c $build_aspnet
    if ($LastExitCode -ne 0) {
        throw "Exec: $ErrorMessage"
    }
    $build_aspnetcore = "build_aspnetcore.bat", "-version_prefix=$versionPrefix", "-version_build=$versionBuild", "-version_suffix=$versionSuffix"
    & cmd /c $build_aspnetcore
    if ($LastExitCode -ne 0) {
        throw "Exec: $ErrorMessage"
    }

deploy:
- provider: NuGet
  api_key:
    secure: DtVDH1ZfIR8E2oDLeSPxfn0WFXw3MCv4WhLkkQQl9LfEHswb5sdxdCYodNKhrKik
  artifact: /.*\.nupkg/
  on:
    branch: master
test_script:
  - nuget.exe install OpenCover -ExcludeVersion -DependencyVersion Ignore
  - OpenCover\tools\OpenCover.Console.exe -register:user -target:"%xunit20%\xunit.console.x86.exe" -targetargs:"\"c:\projects\nlogweb\NLog.Web.Tests\bin\Release\NLog.Web.Tests.dll\" -appveyor -noshadow"  -returntargetcode -filter:"+[NLog.Web]*" -excludebyattribute:*.ExcludeFromCodeCoverage* -hideskipped:All -oldstyle -output:coverage.xml
  - OpenCover\tools\OpenCover.Console.exe -register:user -target:"%xunit20%\xunit.console.x86.exe" -targetargs:"\"c:\projects\nlogweb\NLog.Web.AspNetCore.Tests\bin\Release\net461\NLog.Web.AspNetCore.Tests.dll\" -appveyor -noshadow" -filter:"+[NLog.Web]*" -excludebyattribute:*.ExcludeFromCodeCoverage* -hideskipped:All -oldstyle -mergeoutput -output:coverage.xml
  - pip install codecov
  - codecov -f "coverage.xml"

artifacts:
- path: '**\NLog.Web.*.nupkg'
- path: '**\NLog.Web.*.snupkg'

after_deploy:
- ps : Get-ChildItem *.snupkg -recurse | % { dotnet nuget push $_.FullName -s https://api.nuget.org/v3/index.json -k $env:NUGET_DEPLOY_SECRET }