version: 5.3.0.{build}
clone_folder: c:\projects\nlogweb
configuration: Release
image: Visual Studio 2022
platform: Any CPU

nuget:
  project_feed: true
matrix:
  fast_finish: true
build:
  publish_nuget: true
  publish_nuget_symbols: true
  verbosity: quiet
  
skip_tags: true

build_script:
  - ps: .\build.ps1

deploy:
- provider: NuGet
  api_key:
    secure: C4wzAE+AWne4TbR54gBDkLImCxsfIp21C16wi4LJ3bVSw/HqwZrMSYJ90kl6eAuf
  on:
    branch: master
    
test_script:
  - dotnet test

artifacts:
- path: '**\NLog.Web.*.nupkg'
- path: '**\NLog.Web.*.snupkg'
