version: 4.4.0.{build}
image: Visual Studio 2017 RC
clone_folder: c:\projects\nlogweb
configuration: Release
platform: Any CPU
assembly_info:
  patch: true
  file: '**\AssemblyInfo.*'
  assembly_version: '4.0.0'
  assembly_file_version: '{version}'
  assembly_informational_version: '4.3'
nuget:
  project_feed: true
matrix:
  fast_finish: true
build:
  publish_nuget: true
  publish_nuget_symbols: true
  verbosity: quiet

build_script:
- cmd: >-
    call build_aspnet.bat -nuget_version=4.4.0

    call build_aspnetcore.bat

deploy: off
test_script:
  - nuget.exe install OpenCover -ExcludeVersion
  - OpenCover\tools\OpenCover.Console.exe -register:user -target:"%xunit20%\xunit.console.x86.exe" -targetargs:"\"c:\projects\nlogweb\NLog.Web.Tests\bin\Release\NLog.Web.Tests.dll\" -appveyor -noshadow"  -returntargetcode -filter:"+[NLog.Web]*" -excludebyattribute:*.ExcludeFromCodeCoverage* -hideskipped:All -output:coverage.xml
  - "SET PATH=C:\\Python34;C:\\Python34\\Scripts;%PATH%"
  - pip install codecov
  - codecov -f "coverage.xml"
  - call test_aspnetcore.bat

artifacts:
- path: 'NLog*\**\*.nupkg'
  name: aspnetcore

- path: '*.nupkg'
  name: aspnet
