version: 6.0.0.{build}
clone_folder: c:\projects\nlogweb
configuration: Release
image: Visual Studio 2022
platform: Any CPU

nuget:
  project_feed: true
matrix:
  fast_finish: true
install:
- ps: |
    Invoke-WebRequest -Uri 'https://dot.net/v1/dotnet-install.ps1' -UseBasicParsing -OutFile "$env:temp\dotnet-install.ps1"
    & $env:temp\dotnet-install.ps1 -Architecture x64 -Version '10.0.102' -InstallDir "$env:ProgramFiles\dotnet"
build:
  publish_nuget: true
  publish_nuget_symbols: true
  verbosity: quiet
  
skip_tags: true
skip_branch_with_pr: true

build_script:
  - ps: .\build.ps1

deploy:
- provider: NuGet
  api_key:
    secure: f6oWebyOFLpuuo2PMd6xgoxwMq+JvXVUmPyBme89zS7UF0zcvLYPSKN/p6B/KaMs
  on:
    branch: master
    
test_script:
  - dotnet test

artifacts:
- path: '**\NLog.Web.*.nupkg'
- path: '**\NLog.Web.*.snupkg'
