version: 4.0.0.{build}
configuration: Release
platform: Any CPU
assembly_info:
  patch: true
  file: '**\AssemblyInfo.*'
  assembly_version: '4.0.0'
  assembly_file_version: '{version}'
  assembly_informational_version: 'NLog.Web 4.0.0'
nuget:
  project_feed: true
  disable_publish_on_pr: true
before_build:
- ps: nuget restore -DisableParallelProcessing
build:
  publish_nuget: true
  publish_nuget_symbols: true
  verbosity: normal
deploy: off
