version: 4.8.1.{build}
clone_folder: c:\projects\nlogweb
configuration: Release
image: Visual Studio 2017
platform: Any CPU
assembly_info:
  patch: true
  file: '**\AssemblyInfo.cs'
  assembly_version: '4.0.0'
  assembly_file_version: '4.8.1.{build}' #NLog.Web
  assembly_informational_version: '4.8.1' #NLog.Web
nuget:
  project_feed: true
matrix:
  fast_finish: true
build:
  publish_nuget: true
  publish_nuget_symbols: true
  verbosity: quiet
  
skip_tags: true

build_script:
- cmd: >-
    call build_aspnet.bat -nuget_version=4.8.1 # NLog.Web package

    call build_aspnetcore.bat # update NLog.Web.AspNetCore.csproj for version number

deploy:
- provider: NuGet
  api_key:
    secure: DtVDH1ZfIR8E2oDLeSPxfn0WFXw3MCv4WhLkkQQl9LfEHswb5sdxdCYodNKhrKik
  artifact: /.*\.nupkg/
  on:
    branch: master
test_script:
  - nuget.exe install OpenCover -ExcludeVersion -DependencyVersion Ignore
  - OpenCover\tools\OpenCover.Console.exe -register:user -target:"%xunit20%\xunit.console.x86.exe" -targetargs:"\"c:\projects\nlogweb\NLog.Web.Tests\bin\Release\NLog.Web.Tests.dll\" -appveyor -noshadow"  -returntargetcode -filter:"+[NLog.Web]*" -excludebyattribute:*.ExcludeFromCodeCoverage* -hideskipped:All -output:coverage.xml
  - pip install codecov
  - codecov -f "coverage.xml"
  - ps: .\test_aspnetcore.ps1

artifacts:
- path: '**\NLog.Web.*.nupkg'
- path: '**\NLog.Web.*.snupkg'
